
.Group-21 {
  width: 450.9px;
  height: 108px;
  object-fit: contain;
}

.menu-top{
  font-size: 20px;
}
.Rectangle-1 {
  width: 1920px;
  height: 1076px;
  object-fit: contain;
  opacity: 0.85;
  border: solid 1px var(--warm-grey);
  background-color: #1a2438;
}
.Programacao {
  width: 221px;
  height: 45px;
  object-fit: contain;
  font-family: Cairo;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.Palestrante {
  width: 221px;
  height: 45px;
  object-fit: contain;
  font-family: Cairo;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.chamada{
  width: 1212px;
  height: 207px;
  object-fit: contain;
  font-family: Impact;
  font-size: 80px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Group-2 {
  width: 454.9px;
  height: 106px;
  object-fit: contain;
}
.Group-16 {
  width: 178px;
  height: 240px;
  object-fit: contain;
}
.Group-24 {
  width: 121px;
  height: 240px;
  object-fit: contain;
}

.palestrante {
  width: 520px;
  height: 779px;
  object-fit: contain;
}
.a-palestrante {
  width: 452px;
  height: 108px;
  object-fit: contain;
  font-family: Impact;
  font-size: 80px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
 color:#bbd303;
}
.lorem{
  width: 870px;
  height: 339px;
  object-fit: contain;
  font-family: SegoeUI;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #707070
}
.Atendimento {
  width: 452px;
  height: 108px;
  object-fit: contain;
  font-family: Impact;
  font-size: 80px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color:#1a2438;
}
.Cliente {
  width: 761px;
  height: 108px;
  object-fit: contain;
  font-family: Impact;
  font-size: 80px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #1a2438;
}
.texto-2{
width: 680px;
height: 215px;
object-fit: contain;
font-family: SegoeUI;
font-size: 32px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.56;
letter-spacing: normal;
text-align: left;
color: #707070;
}
.texto-3{
  width: 680px;
  height: 215px;
  object-fit: contain;
  font-family: SegoeUI;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.Group-18 {
  width: 178px;
  height: 116px;
  object-fit: contain;
}

.corpo {
  width: 1920px;
  height: 1078px;
  object-fit: contain;
  border: solid 1px #707070;
  background-color: #bbd303;
}

.chamada-2{
  width: 1267px;
  height: 614px;
  object-fit: contain;
  font-family: Impact;
  font-size: 80px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #1a2438;
}
.ingresso-5 {
  width: 589.6px;
  height: 121.3px;
  object-fit: contain;
}
.group-19{
  
    width: 178px;
    height: 116px;
    object-fit: contain;

}
.imagem-2 {
  width: 778px;
  height: 1036px;
  object-fit: contain;
}

.retangulo-2{
    width: 1920px;
    height: 1078px;
    object-fit: contain;
    border: solid 1px #707070;
    background-color: #1a2438;
  }
  .call-to {
    width: 818px;
  height: 472px;
  object-fit: contain;
  font-family: Impact;
  font-size: 80px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.ingresso-ultimo {
  width: 589.6px;
  height: 121.3px;
  object-fit: contain;
}
.container-fluid {
  width: 1920px;
  height: 1076px;
  object-fit: contain;
  opacity: 0.85;
  border: solid 1px var(--warm-grey);
  background-color: #1a2438;
}